<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
  />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body style="background-color:black;">
  <div class="row">
    <div class="col-md-2">
      <label class="company">ONGROUND</label>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li *ngIf="!showSearch">
        <a
          [routerLink]="[home]"
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }"
          class="headernav margin-left120px"
          >HOME</a
        >
      </li>
      <li *ngIf="!showSearch">
        <a
          [routerLink]="[shop]"
          [routerLink]="[item]"
          [routerLink]="[product]"
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }"
          class="headernav"
          >SHOP</a
        >
      </li>
      <li *ngIf="!showSearch">
        <a href="#" class="headernav">COURT BOOKING</a>
      </li>
      <li *ngIf="!showSearch">
        <a href="#" class="headernav">LEARN</a>
      </li>
      <li *ngIf="!showSearch">
        <a href="#" class="headernav">EVENTS</a>
      </li>
      <li *ngIf="!showSearch">
        <a href="#" class="headernav">TEAM</a>
      </li>
      <li *ngIf="showSearch">
        <input
          class="searchbar"
          type="text"
          placeholder="Search..."
          name="search"
        />
      </li>
      <li>
        <i class="glyphicon glyphicon-search" (click)="searchbar()"></i>
      </li>
      <li>
        <img src="assets/img/wishlist.png" class="wishlist" />
      </li>
      <li>
        <img src="assets/img/cart.png" class="cart" />
      </li>
      <li>
        <img src="assets/img/account.png" class="account" (click)="account()" />
      </li>
    </ul>
  </div>
</body>
