.searchbar {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border-radius: 25px;
  border: 1px solid black;
  height: 31px;
  margin-top: 17px;
  width: 468px;
}
.logo {
  height: 65px;
  margin-left: 55px;
}
.company {
  height: 37px;
  width: 173px;
  margin-top: 14px;
  margin-left: -57px;
}
.sport {
  height: 65px;
  width: 185px;
  margin-left: 55px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
  height: 17px;
  margin-left: 20px;
  width: 44px;
  margin-top: 3px;
}

.slider.round:before {
  border-radius: 50%;
  background-color: black;
  width: 9.5px;
  height: 11px;
}
.ml-15 {
  margin-left: 15px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

* {
  z-index: 10;
}

.body {
  background-size: 0 !important;
}
