.bgcolor {
  background-color: black;
  height: 100vh;
}
.headingtext {
  color: white;
  margin-top: 20%;
  font-size: 230%;
}
.msgheader {
  color: white;
  font-size: 100%;
  margin-bottom: 5%;
}
.groundimage {
  // margin-left: 34%;
  // margin-top: 40%;
  // margin-bottom: 100%;
  // width: 250px;
  // height: 250px;
  // margin-left: auto;
  // margin-right: auto;
  // display: block;
  position: absolute;
  margin: auto;
  // top: 540px;
  left: 0;
  right: 0;
  bottom: 0;
}
.icon {
  width: 8%;
  padding-left: 0%;
  position: absolute;
  margin: 8px;
}
.input-field {
  width: 100%;
  padding-left: 45px;
  outline: none;
  height: 100%;
  border-radius: 10px;
}
.inputstyle {
  height: 50px;
  width: 58%;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 3%;
}

.btnfacebook {
  position: absolute;
  width: 3%;
  height: 10%;
  cursor: pointer;
  bottom: 88px;
  left: 75px;
  padding-bottom: 10px;
}
.btntwitter {
  position: absolute;
  width: 3%;
  height: 10%;
  cursor: pointer;
  bottom: 60px;
  left: 75px;
  padding-bottom: 10px;
}
.btninsta {
  position: absolute;
  width: 3%;
  height: 10%;
  cursor: pointer;
  bottom: 35px;
  left: 75px;
  padding-bottom: 10px;
}
.rememberme {
  color: white;
  margin-top: 2%;
  font-weight: 100;
}
.forgotPassword {
  margin-top: 1%;
  margin-left: 4%;
  font-weight: 100;
  color: #0069ba;
}
.createbtn1 {
  margin-top: 3%;
  width: 42%;
}
.createbtn2 {
  width: 55%;
}
.help {
  width: 10%;
}
.footerlabel {
  font-size: 84%;
  color: white;
  margin-left: 3%;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 44%;
  right: 0;
}
.marginleft {
  margin-left: -22%;
}
.top {
  position: fixed;
  left: 0;
  right: 0;
  height: 50%;
  width: 50%;
  top: 0;
}
.bottom {
  position: fixed;
  left: 0;
  right: 0;
  height: 50%;
  width: 50%;
  bottom: 0;
}
.row {
  margin-right: 0px;
  margin-left: 0px;
}
