<body>
  <app-navbar></app-navbar>
  <div class="row">
    <div class="card col-md-4 itemheader">
      <div>
        <img
          src="assets/img/buy.png"
          class="imgwidth"
          alt="BUY"
          (click)="buy()"
        />
        <h4><b>BUY</b></h4>
      </div>
    </div>
    <div class="card col-md-4 itemheader">
      <img
        src="assets/img/class.png"
        alt="LEARN"
        class="imgwidth"
        (click)="category('Learn clicked!')"
      />
      <h4><b>LEARN</b></h4>
    </div>
    <div class="card col-md-4 itemheader">
      <img
        src="assets/img/studio.png"
        class="imgwidth"
        alt="PLAY"
        (click)="category('Play clicked!')"
      />
      <h4><b>PLAY</b></h4>
    </div>
  </div>
  <div class="row">
    <div class="card col-md-2"></div>
    <div class="card col-md-4 itemheader" (click)="category('Team clicked!')">
      <img class="imgwidth" src="assets/img/musicteam.png" alt="TEAM" />
      <h4><b>TEAM</b></h4>
    </div>
    <div class="card col-md-4 itemheader">
      <img
        class="imgwidth"
        src="assets/img/musiccompetition.png"
        alt="COMPETE"
        (click)="category('Compete clicked!')"
      />
      <h4><b>COMPETE</b></h4>
    </div>
  </div>
</body>
