.container {
  padding: 20px 15px;
  margin-left: 15%;
  font-family: "Roboto", sans-serif;
  /* height: 800px; */
}
// .row {
//   width: 100%;
// }
.tile {
  /* display: inline-block; */
  width: 100%;
  background-color: #fff;
  /* box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.1); */
  position: relative;
  overflow: hidden;
  height: 630px;
  display: flex;
  /* flex-direction: column; */
  /* justify-content: center;
  align-items: center; */
}

.signup {
  position: absolute;
  width: 100%;
  top: 8%;
  right: -67%;
  overflow: hidden;
  /* transform: rotate(90deg); */
  padding: 20px 20px 20px 20px;
  /* transition: all .5s ease-out; */
}
.login {
  position: absolute;
  top: 8%;
  width: 100%;
  right: -67%;
  overflow: hidden;
  /* transform: rotate(-90deg); */
  padding: 20px 20px 20px 20px;
  /* transition: all .5s ease-out; */
}

.show {
  position: relative !important;
  width: 100%;
  top: 8%;
  left: auto;
  right: 0px;
  transform: rotate(-0deg);
  transition: all 0.5s ease-out;
}
.login.show {
  left: auto;
  right: 0px;
}

.text {
  padding-top: 10px;
  width: 350px;
  height: 50px;
  font: 15px/24px "Muli", sans-serif;
  transition: display 0.5 ease;
  transition-delay: 0.5s;
}

.createAccount {
  color: red;
  cursor: pointer;
}

.header {
  position: absolute;
  left: 60%;
}

@media only screen and (max-width: 900px) {
  .container,
  .row {
    width: 100vh;
    margin-left: auto;
  }
  .image {
    opacity: 0.3;
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .signup {
    width: 100%;
    margin-left: 25%;
    padding: 0;
  }
  .login {
    width: 100%;
    margin-left: 25%;
    padding: 0;
  }
  .show {
    width: 150%;
  }
  .header {
    position: absolute;
    left: 25%;
    /* font-size: 120%; */
  }
  .text {
    width: 100%;
    padding-bottom: 50px;
  }
}

.headerBorder {
  text-shadow: 3px 3px #ff0000;
  transition: text-shadow 0.5s ease;
}
.hidden {
  display: none;
}
