.bgcolor {
  background-color: black;
  padding: 0px;
}
.groundimage {
  width: 67%;
  height: fit-content;
  margin-top: 13%;
  margin-left: 40%;
}
.container {
  padding: 0px;
  margin-left: inherit;
  // height: -webkit-fill-available;
}
.container .producttext {
  position: absolute;
  top: 11%;
  left: 10%;
  width: 3%;
  height: 3%;
  color: white;
  /* cursor: pointer; */
  font-size: 22px;
}
.container .productimage {
  position: absolute;
  top: 9%;
  left: 3%;
  height: 13%;
}
.image1 {
  position: absolute;
  height: 45%;
  width: 33%;
}
.row {
  margin-right: 0px;
  margin-left: 0px;
}
.mgtop25 {
  margin-top: 25vh;
}
.containercart {
  width: 28%;
  height: 7.9vh;
  padding: 0px;
  margin-left: inherit;
  background-color: white;
  // height: -webkit-fill-available;
}
.containercart .checkedimg {
  height: 5vh;
  margin: 5% 2%;
}
.containercart .prodimg {
  height: 8vh;
  width: 10vh;
  margin-left: 5%;
}
.containercart .addcarttext {
  position: absolute;
  top: 28%;
  left: 27%;
  /* width: 3%; */
  /* height: 0vh; */
  color: green;
  /* cursor: pointer; */
  font-size: 16px;
}
.containercart .subtotaltitle {
  position: absolute;
  top: 28%;
  left: 37%;
  font-size: 16px;
  color: white;
}

.containercart .horizontalbar {
  position: absolute;
  top: 25vh;
  left: 35%;
  width: 50%;
  height: 8vh;
}
.width {
  margin-left: 18vh;
  width: 136vh;
}
.containercart .btncart {
  position: absolute;
  top: 26.3vh;
  left: 62%;
  width: 10vh;
  height: 5vh;
}
.containercart .btnbuy {
  position: absolute;
  top: 26.3vh;
  left: 70%;
  width: 11%;
  height: 5vh;
}

.formcontainer {
  padding-left: 3%;
  padding-top: 2%;
}
.headingtext {
  color: white;
  font-size: 172%;
  padding-left: 5%;
  padding-top: 1%;
}

.profile {
  margin-left: 20%;
  margin-top: 10%;
  width: 31%;
}

.marginleft {
  margin-left: -22%;
}
.row {
  margin-right: 0px;
  margin-left: 0px;
}
// .ng-valid[required],
// .ng-valid.required {
//   border: 5px solid #42a948; /* green */
// }

// .ng-invalid:not(form) {
//   border: 1px solid #a94442; /* red */
// }
.alertmsg {
  color: red;
}
.labelfont.required:after {
  color: #d00;
  content: "*";
  margin-left: 5px;
  top: 5px;
}
.invalid-feedback {
  color: red;
}
input.ng-invalid.ng-touched {
  border: 1px solid red;
}
input[type="file"] {
  visibility: hidden;
}
.parent {
  position: relative;
  top: 0;
  left: 0;
}
.image1 {
  position: absolute;
  height: 45%;
  width: 33%;
}
// .image2 {
//   position: relative;
//   top: 30px;
//   left: 30px;
// }
.voucherimg {
  margin-top: 35%;
  width: 128%;
  margin-left: 66%;
}
.box {
  position: relative;
  display: inline-block; /* Make the width of box same as image */
}
.Vouchermsg {
  margin-left: 200%;
  font-size: 20px;
  color: white;
  text-align: center;
  margin-top: -18%;
  text-align: center;
  width: 116px;
  line-height: 1.4;
}
.VoucherCode {
  color: white;
  margin-left: 90%;
  font-size: 13px;
  text-align: center;
}

h1 {
  text-align: center;
  margin-top: 8%;
  color: white;
  font-size: 214%;
}
h3 {
  text-align: center;
  margin-top: 1.5%;
  color: white;
  font-size: 121%;
}

.divstyle {
  padding: 8% 4%;
  text-align: center;
  display: inline-block;

  // margin-left: 10%;
}
.msgstyle {
  color: white;
  text-align: center;
  display: inline-block;
}
.rowstyle {
  margin: 3% 2% 0% 7%;
}
.marginleft64 {
  margin-left: 60%;
}
.col-md-2 {
  padding-bottom: 30px;
}
// .card {
//   margin: 0 auto;
// }
// .accessoriescard {
//   margin-top: 13%;
//   margin-left: 45%;
//   position: absolute;
// }
// .apparelcard {
//   position: absolute;
//   margin-top: 13%;
//   margin-left: 71%;
// }
// .card:hover {
//   // -ms-transform: scale(1.5); /* IE 9 */
//   // -webkit-transform: scale(1.5); /* Safari 3-8 */
//   transform: scale(1.25);
// }

.imgstyle {
  margin-top: 3%;
  width: 24%;
  margin-left: 16%;
  height: 55%;
  position: absolute;
}
.vl {
  border-left: 1px solid white;
  height: 19%;
  position: absolute;
  left: 63%;
  margin-top: 27%;
  top: 0;
}
.msgheader {
  color: white;
  font-size: 100%;
  margin-bottom: 5%;
}

.icon {
  width: 8%;
  padding-left: 0%;
  position: absolute;
  margin: 8px;
}
.input-field {
  width: 100%;
  padding-left: 45px;
  outline: none;
  height: 100%;
  border-radius: 10px;
}

.btnfacebook {
  position: absolute;
  width: 3%;
  height: 10%;
  cursor: pointer;
  bottom: 35%;
  left: 10%;
  padding-bottom: 10px;
}
.btntwitter {
  position: absolute;
  width: 3%;
  height: 10%;
  cursor: pointer;
  bottom: 24%;
  left: 10%;
  padding-bottom: 10px;
}
.btninsta {
  position: absolute;
  width: 3%;
  height: 10%;
  cursor: pointer;
  bottom: 14%;
  left: 10%;
  padding-bottom: 10px;
}
.rememberme {
  color: white;
  margin-top: 2%;
  font-weight: 100;
}
.forgotPassword {
  margin-top: 1%;
  margin-left: 4%;
  font-weight: 100;
  color: #0069ba;
}
.createbtn1 {
  margin-top: 3%;
  width: 42%;
}
.createbtn2 {
  width: 55%;
}
.top {
  position: fixed;
  left: 0;
  right: 0;
  height: 50%;
  width: 50%;
  top: 0;
}
.bottom {
  position: fixed;
  left: 0;
  right: 0;
  height: 50%;
  width: 50%;
  bottom: 0;
}
.carousel-inner img {
  width: 100%;
  height: 100%;
}
.mySlides {
  display: none;
  text-align: center;
}
img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  margin-top: 25%;
  height: 10%;
}
.mt19 {
  // margin-top: 19%;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 15px;
  position: absolute;
  bottom: 0;
  margin: 0 50%;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade !important;
  -webkit-animation-duration: 1.5s !important;
  animation-name: fade !important;
  animation-duration: 1.5s !important;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}
.itemimagestyle {
  height: 58vh;
}
.heart {
  position: absolute;
  top: 0;
  height: 21px;
  right: 0;
}
.mt12 {
  margin-top: 12%;
  margin-left: 5%;
}
.itemname {
  color: #f2f2f2;
  font-size: 19px;
  margin-bottom: 1%;

  // font-weight: bold;
  // position: absolute;
  // bottom: 0;
  // margin: 0 50%;
}
.itemprice {
  color: #f2f2f2;
  font-size: 30px;
  margin-bottom: 1%;
  // font-weight: bold;
  // position: absolute;
  // bottom: 0;
  // margin: 0 50%;
}
.itembrand {
  color: #f2f2f2;
  font-size: 19px;
  margin-bottom: 1%;

  font-weight: bold;
  // position: absolute;
  // bottom: 0;
  // margin: 0 50%;
}
.availablecolours {
  font-size: 10px;
  color: #f2f2f2;
}
// .dropdownwidth {
//   width: 21%;
//   height: 4vh;
//   margin-top: 0.5%;
// }
.dropdown {
  border: 1px solid #d0d1d2;
  padding: 0 0 0 8px;
  width: 50%;
  margin-top: 0.6%;
  background-color: black;
  color: white;
}
.padding0 {
  padding-right: 0px;
  padding-left: 0px;
}
.itembutton {
  margin-bottom: 5%;
}
.dropdown2 {
  border: 1px solid #d0d1d2;
  padding: 0 0 0 8px;
  width: 50%;
  margin-top: 0.6%;
  background-color: black;
  color: white;
}
.itemdescription {
  color: #f2f2f2;
  font-size: 14px;
  margin-bottom: 3%;
}
.itemdescriptiontitle {
  color: #f2f2f2;
  font-size: 13px;
  margin-bottom: 1%;
  font-weight: bold;
}
.reviewstitle {
  color: #f2f2f2;
  font-size: 13px;
  margin-bottom: 1%;
  font-weight: bold;
}
.checked {
  color: orange;
}
.related {
  margin-left: 8%;
  color: white;
  margin-top: 3%;
}

.labelfont {
  font-size: 95%;
  color: white;
  padding-bottom: 1%;
}
.inputstyle {
  border: 1px solid #0069ba;
  background-color: black;
  // height: 10%;
  width: 80%;
  color: white;
  font-size: 100%;
  margin-bottom: 3%;
}
.profile {
  margin-left: 20%;
  margin-top: 10%;
  width: 31%;
}
.createbtn {
  margin-top: 1%;
  width: 50%;
}
.help {
  width: 10%;
}
.footerlabel {
  font-size: 84%;
  color: white;
  margin-left: 3%;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 44%;
  right: 0;
}
.marginleft {
  margin-left: -22%;
}
.row {
  margin-right: 0px;
  margin-left: 0px;
}
// .ng-valid[required],
// .ng-valid.required {
//   border: 5px solid #42a948; /* green */
// }

// .ng-invalid:not(form) {
//   border: 1px solid #a94442; /* red */
// }
.alertmsg {
  color: red;
}
.labelfont.required:after {
  color: #d00;
  content: "*";
  margin-left: 5px;
  top: 5px;
}
.invalid-feedback {
  color: red;
}
input.ng-invalid.ng-touched {
  border: 1px solid red;
}
input[type="file"] {
  visibility: hidden;
}
.parent {
  position: relative;
  top: 0;
  left: 0;
}
.image1 {
  position: absolute;
  height: 45%;
  width: 33%;
}
// .image2 {
//   position: relative;
//   top: 30px;
//   left: 30px;
// }
.voucherimg {
  margin-top: 35%;
  width: 128%;
  margin-left: 66%;
}
.box {
  position: relative;
  display: inline-block; /* Make the width of box same as image */
}
.Vouchermsg {
  margin-left: 200%;
  font-size: 20px;
  color: white;
  text-align: center;
  margin-top: -18%;
  text-align: center;
  width: 116px;
  line-height: 1.4;
}
.VoucherCode {
  color: white;
  margin-left: 90%;
  font-size: 13px;
  text-align: center;
}

h1 {
  margin-left: 3%;
  text-align: left;
  margin-top: 9%;
  color: white;
  font-size: 165%;
}

.itemstyle {
  width: 21%;
  height: 8vh;
  position: absolute;
  top: 42%;
  left: 26%;
}
.divstyle {
  padding: 8% 4%;
  text-align: center;
  display: inline-block;

  // margin-left: 10%;
}
div .b {
  text-align: center;
}
.msgstyle {
  color: white;
  /* text-align: center; */
  position: absolute;
  /* margin-top: 60%; */
  position: absolute;
  top: 318%;
  left: 14%;
  font-size: 12px;
}
.pricestyle {
  position: absolute;
  top: 357%;
  left: 14%;
  font-size: 15px;
  color: yellowgreen;
}
.rowstyle {
  margin: 3% 2% 0% 7%;
}
.marginleft64 {
  margin-left: 60%;
}
.col-md-2 {
  padding-bottom: 30px;
}
.card {
  margin: 0 auto;
  position: relative;
  margin-bottom: 13%;
}

// .card:hover {
//   // -ms-transform: scale(1.5); /* IE 9 */
//   // -webkit-transform: scale(1.5); /* Safari 3-8 */
//   transform: scale(1.25);
// }
.itemstyle:hover {
  // -ms-transform: scale(1.5); /* IE 9 */
  // -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.25);
}
.boximage {
  position: absolute;
  top: 0;
  height: 25vh;
  width: 63%;
}
.plus {
  position: absolute;
  top: 368%;
  left: 54%;
  height: 5vh;
}
.heart2 {
  position: absolute;
  top: 331%;
  left: 55%;
  height: 2.1vh;
}
