.image {
  position: absolute;
  left: 0;
  top: 0%;
  z-index: 0;
  opacity: 0.5;
}
.outerDiv {
  height: 20px;
  // margin-left: 20px;
  padding: 1px;
  display: flex;
  /* border: 1px solid gray; */
  border-radius: 10px;
  font: 15px/24px "Muli", sans-serif;
  color: #333;
  width: 100%;
  box-sizing: border-box;
  letter-spacing: 1px;
  margin-bottom: 5px;
  z-index: 1;
}

.Input {
  /* border: 2px solid black; */
  width: 300px;
  margin-left: 30px;
}

.formInput {
  // margin-left: 30px;
  position: relative;
  bottom: 10px;
  width: 38 0px;
  display: flex;
  background-color: #fff;
  color: #000;
  font: inherit;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
  border: 1px solid black;
  border-radius: 30px;
  outline: 0;
  padding: 22px 0px;
  text-indent: 30px;
  box-sizing: border-box;
  transition: background-color 1s;
}

.Results {
  width: 60%;
  margin-left: 90px;
  border: 1px solid #ccc;
  border-radius: 10px;
  z-index: 10;
  box-shadow: 5px 10px 10px #ccc;
  max-height: 300px;
  overflow-y: auto;
  scrollbar-width: none;
}

.result {
  cursor: pointer;
  // border: 1px solid #ccc;
  //   border-bottom: 0px;
  display: inline-block;
  width: 60%;
  transition: all 500ms ease;
}

.Results,
.result {
  background-color: #ffffff;
  z-index: 1;
}

.result:hover {
  padding-left: 20%;
  //   background-color: saturate($color: #cde9e7, $amount: 100);
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 5px 10px 10px #ccc;
}

.submitButton {
  left: 30px;
  cursor: pointer;
  position: relative;
  background-color: #ffffff;
  color: black;
  height: 50px;
  width: 200px;
  border-radius: 30px;
  font: 15px/24px "Muli", sans-serif;
  font-size: large;
  // border: 0;
  top: -10px;
  outline: none;
}

.header {
  text-align: center;
}

.body {
  padding-left: 15%;
}

full::before {
  content: ""; /* Important */
  z-index: -0; /* Important */
  position: inherit;
  left: inherit;
  top: inherit;
  width: inherit;
  height: inherit;
  background-image: inherit;
  background-size: cover;
  filter: blur(8px);
}

.full {
  position: relative;
  top: -30px;
  padding-top: 10%;

  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.img {
  position: absolute;
  top: 15%;
  left: 0;
  background-image: url(../../assets/img/court.jpg);
  background-size: cover;
  // filter: blur(9px);
  opacity: 0.2;
  // opacity: 0.5;
  height: 85%;
  width: 100%;
  // -webkit-filter: blur(9px);
}

*::-webkit-scrollbar {
  width: 0;
  // height: 2em;
}

.dropdown {
  position: absolute;
  right: 15px;
  cursor: pointer;
}

.hidden {
  display: none;
}

// .mat-autocomplete-panel {
//   margin-top: 10px !important;
//   border-radius: 100px !important;
//   background-color: red !important;
//   color: blue($color: #000000);
// }

::ng-deep .mat-autocomplete-panel.autocomplete {
  margin-top: 10px;
  width: 100%;
  border-radius: 10px;
  max-height: 300px;
}
.mat-autocomplete-panel.autocomplete::-webkit-scrollbar {
  width: 0;
  display: none;
  background: transparent;
}

// ::ng-deep .cdk-overlay-pane {
//   /* Do you changes here */
//   border-radius: 50px !important;
//   background-color: red($color: #000000) !important;
//   width: 300px !important;
// }

// :host ::ng-deep .mat-autocomplete-panel {
//   width: 300px !important;
// }
