<body>
  <app-navbar
    [switchMsg]="switchMsg"
    [switchBtn]="switchBtn"
    [img]="img"
    [linkrouter]="linkrouter"
  ></app-navbar>
  <div class="row">
    <div class="card col-md-3 itemheader">
      <div>
        <img
          class="imgwidth"
          src="assets/img/sport-shop/BADMINTON.png"
          alt="BUY"
          (click)="category('BADMINTON clicked!')"
        />
        <h4><b>BADMINTON</b></h4>
      </div>
    </div>
    <div class="card col-md-3 itemheader">
      <img
        class="imgwidth"
        src="assets/img/sport-shop/BASKETBALL.png"
        alt="LEARN"
        (click)="category('BASKETBALL clicked!')"
      />
      <h4><b>BASKETBALL</b></h4>
    </div>
    <div class="card col-md-3 itemheader">
      <img
        class="imgwidth"
        src="assets/img/sport-shop/BOXING.png"
        alt="PLAY"
        (click)="category('BOXING clicked!')"
      />
      <h4><b>BOXING</b></h4>
    </div>
    <div class="card col-md-3 itemheader">
      <img
        class="imgwidth"
        src="assets/img/sport-shop/CRICKET.png"
        alt="PLAY"
        (click)="category('CRICKET clicked!')"
      />
      <h4><b>CRICKET</b></h4>
    </div>
  </div>
  <div class="row">
    <div class="card col-md-3 itemheader">
      <div>
        <img
          class="imgwidth"
          src="assets/img/sport-shop/CYCLE.png"
          alt="BUY"
          (click)="category('CYCLE clicked!')"
        />
        <h4><b>CYCLE</b></h4>
      </div>
    </div>
    <div class="card col-md-3 itemheader">
      <img
        class="imgwidth"
        src="assets/img/sport-shop/FOOTBALL.png"
        alt="LEARN"
        (click)="category('FOOTBALL clicked!')"
      />
      <h4><b>FOOTBALL</b></h4>
    </div>
    <div class="card col-md-3 itemheader">
      <img
        class="imgwidth"
        src="assets/img/sport-shop/TABLE-TENNIS.png"
        alt="PLAY"
        (click)="category('TABLE-TENNIS clicked!')"
      />
      <h4><b>TABLE-TENNIS</b></h4>
    </div>
    <div class="card col-md-3 itemheader">
      <img
        class="imgwidth"
        src="assets/img/sport-shop/VOLLEYBALL.png"
        alt="PLAY"
        (click)="category('VOLLEYBALL clicked!')"
      />
      <h4><b>VOLLEYBALL</b></h4>
    </div>
  </div>
</body>
