<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta charset="utf-8" />
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
  />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
  <app-navbar></app-navbar>
  <div class="row bgcolor">
    <div class="col-md-5 container">
      <div class="top">
        <div class="parent">
          <img class="image1" src="assets/img/side.png" />
          <img class="image2 groundimage" src="assets/img/football.png" />
        </div>
      </div>
      <div class="bottom">
        <img
          src="assets/img/facebook.png"
          class="btnfacebook"
          alt="Facebook"
          (click)="socialMedia('facebook')"
        />
        <img
          src="assets/img/twitter.png"
          class="btntwitter"
          alt="Twitter"
          (click)="socialMedia('twitter')"
        />
        <img
          src="assets/img/instagram.png"
          class="btninsta"
          alt="Instagram"
          (click)="socialMedia('instagram')"
        />
      </div>
    </div>
    <div class="col-md-3">
      <div class="box">
        <img class="voucherimg" src="assets/img/voucher.png" alt="Voucher" />
        <div class="text">
          <h1 class="VoucherCode">{{ VoucherCode }}</h1>
          <h1 class="Vouchermsg">{{ Vouchermsg }}</h1>
        </div>
      </div>

      <!-- <div class="top">
        <img class="voucherimg" src="assets/img/voucher.png" />
      </div> -->
    </div>
  </div>
  <div class="footer">
    <div class="row">
      <div class="col-md-6"></div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-6">
            <img class="help" src="assets/img/contact.png" (click)="onSave()" />
            <label class="footerlabel">HELP</label>
          </div>
          <div class="col-md-6 marginleft">
            <img class="help" src="assets/img/contact.png" (click)="onSave()" />
            <label class="footerlabel">CONTACT</label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="row">
    <div class="card col-md-4 itemheader">
      <div>
        <img
          class="imgwidth"
          src="assets/img/buy.png"
          alt="BUY"
          (click)="buy()"
        />
        <h4><b>BUY</b></h4>
      </div>
    </div>
    <div class="card col-md-4 itemheader">
      <img
        class="imgwidth"
        src="assets/img/learn.png"
        alt="LEARN"
        (click)="category('Learn clicked!')"
      />
      <h4><b>LEARN</b></h4>
    </div>
    <div class="card col-md-4 itemheader">
      <img
        class="imgwidth"
        src="assets/img/play.png"
        alt="PLAY"
        (click)="category('Play clicked!')"
      />
      <h4><b>PLAY</b></h4>
    </div>
  </div>
  <div class="row">
    <div class="card col-md-2"></div>
    <div class="card col-md-4 itemheader" (click)="category('Team clicked!')">
      <img class="imgwidth" src="assets/img/team.png" alt="TEAM" />
      <h4><b>TEAM</b></h4>
    </div>
    <div class="card col-md-4 itemheader">
      <img
        class="imgwidth"
        src="assets/img/compete.png"
        alt="COMPETE"
        (click)="category('Compete clicked!')"
      />
      <h4><b>COMPETE</b></h4>
    </div>
  </div> -->
</body>
