<body>
  <app-navbar
    [switchMsg]="switchMsg"
    [switchBtn]="switchBtn"
    [img]="img"
    [linkrouter]="linkrouter"
  ></app-navbar>
  <div class="row">
    <div class="card col-md-4 itemheader">
      <div>
        <img
          class="imgwidth"
          src="assets/img/buy.png"
          alt="BUY"
          (click)="buy()"
        />
        <h4><b>BUY</b></h4>
      </div>
    </div>
    <div class="card col-md-4 itemheader">
      <img
        class="imgwidth"
        src="assets/img/learn.png"
        alt="LEARN"
        (click)="category('Learn clicked!')"
      />
      <h4><b>LEARN</b></h4>
    </div>
    <div class="card col-md-4 itemheader">
      <img
        class="imgwidth"
        src="assets/img/play.png"
        alt="PLAY"
        (click)="category('Play clicked!')"
      />
      <h4><b>PLAY</b></h4>
    </div>
  </div>
  <div class="row">
    <div class="card col-md-2"></div>
    <div class="card col-md-4 itemheader" (click)="category('Team clicked!')">
      <img class="imgwidth" src="assets/img/team.png" alt="TEAM" />
      <h4><b>TEAM</b></h4>
    </div>
    <div class="card col-md-4 itemheader">
      <img
        class="imgwidth"
        src="assets/img/compete.png"
        alt="COMPETE"
        (click)="category('Compete clicked!')"
      />
      <h4><b>COMPETE</b></h4>
    </div>
  </div>
</body>
