<body>
  <app-navbar
    [switchMsg]="switchMsg"
    [switchBtn]="switchBtn"
    [img]="img"
  ></app-navbar>
  <div class="row">
    <div class="card col-md-4">
      <div>
        <img
          class="item1 imgwidth"
          src="assets/img/buy.png"
          alt="BUY"
          (click)="category('Buy clicked!')"
        />
        <h4 class="buyitem1"><b>BUY</b></h4>
      </div>
    </div>
    <div class="card col-md-4">
      <img
        class="imgwidth item2"
        src="assets/img/learn.png"
        alt="LEARN"
        (click)="category('Learn clicked!')"
      />
      <h4 class="learnitem2"><b>LEARN</b></h4>
    </div>
    <div class="card col-md-4">
      <img
        class="imgwidth item3"
        src="assets/img/play.png"
        alt="PLAY"
        (click)="category('Play clicked!')"
      />
      <h4 class="playitem3"><b>PLAY</b></h4>
    </div>
  </div>
  <div class="row">
    <div class="card col-md-6" (click)="category('Team clicked!')">
      <img class="item4 imgwidth" src="assets/img/team.png" alt="TEAM" />
      <h4 class="teamitem4"><b>TEAM</b></h4>
    </div>
    <div class="card col-md-6">
      <img
        class="imgwidth item5"
        src="assets/img/compete.png"
        alt="COMPETE"
        (click)="category('Compete clicked!')"
      />
      <h4 class="competeitem5"><b>COMPETE</b></h4>
    </div>
  </div>
</body>
